<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %} <!-- If title is passed in render_template use title -->
    <title>YORK L-IONS - {{ title }}</title>
    {% else %}
    <title>Admin Dashboard</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>

<body>
    <div id="wrapper">
        <header>
            {% if header %}
            {% block header %}{% endblock header %}
            {% else %}
            <h1>Admin Dashboard</h1>
            {% endif %}
        </header>

        <div>
            {% block content %}
            {% if sidebar %}
            <!-- Sidebar HTML logic here once they clicked on catalog, etc -->
            {% else %}
            {% endif %}
            {% endblock content %}
        </div>

        <footer>{% block footer %}{% endblock footer%}</footer>
    </div>
    <script type="text/javascript" charset="utf-8">

        fetch('/../../instance/db.sqlite3')
            .then(function (response) {
                return response.json();
            }).then(function (apiJsonData) {
                console.log(apiJsonData);
            })
        function renderDataInTheUsageTable(eventReport) {
            const mytable = document.getElementById("usage-table");
            todos.forEach(eventReport => {
                let newRow = document.createElement("tr");
                Object.values(todo).forEach((value) => {
                    let cell = document.createElement("td");
                    cell.innerText = value;
                    newRow.appendChild(cell);
                })
                mytable.appendChild(newRow);
            });
        function renderDataInTheSaleTable(purchaseOrder) {
            const mytable = document.getElementById("sale-table");
            todos.forEach(purchaseOrder => {
                let newRow = document.createElement("tr");
                Object.values(todo).forEach((value) => {
                    let cell = document.createElement("td");
                    cell.innerText = value;
                    newRow.appendChild(cell);
                })
                mytable.appendChild(newRow);
            });
        }
    </script>
</body>

</html>
