<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %} <!-- If title is passed in render_template use title -->
    <title>YORK L-IONS - {{ title }}</title>
    {% else %}
    <title>Admin Dashboard</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>

<body>
    <div id="wrapper">
        <header>
            {% if header %}
            {% block header %}{% endblock header %}
            {% else %}
            <h1>Admin Dashboard</h1>
            {% endif %}
        </header>

        <div>
            {% block content %}
            {% if sidebar %}
            <!-- Sidebar HTML logic here once they clicked on catalog, etc -->
            {% else %}
            {% endif %}
            {% endblock content %}
        </div>

        <footer>{% block footer %}{% endblock footer%}</footer>
    </div>
    <form id="sale">
        <input type="hidden" name="sort" value="date_added" />
        <input type="hidden" name="descending" value="true" />
        <input type="submit" class="See Sale Report" value="See Sales" />
    </form>
    <form id="usage" >
        <input type="hidden" name="sort" value="date_added" />
        <input type="hidden" name="descending" value="true" />
        <input type="submit" class="See Usage Report" value="See Usage" />
    </form>
</body>

</html>
