{% extends "layout.html" %}
{% block content %}
Test from compare-vehicles.html
<!-- This should be a table with 2 columns: -->
<!--     Vehicle 1, and Vehicle 2    -->
<!-- This page should be accessible to all users -->
<!-- If accessed from main page, tables should have two random vehicles -->
<!-- If accessed from expanded details page, column 1 should be the vehicle from the expanded details page -->
<!-- and column 2 should be a random vehicle -->
<!-- The stats to compare should be: -->
<!--    Make, Model, Trim   -->
<!--          Year          -->
<!--          Price         -->
<!--          Mileage       -->
<!--          Max Range     -->
<!-- More to be decided later -->

<table>
    <tr>
        <th>Vehicle 1</th>
        <th>Vehicle 2</th>
    </tr>
    <tr>
        <td>Make</td>
        <td>Make</td>
    </tr>
    <tr>
        <td>Model</td>
        <td>Model</td>
    </tr>
    <tr>
        <td>Trim</td>
        <td>Trim</td>
    </tr>
    <tr>
        <td>Year</td>
        <td>Year</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>Price</td>
    </tr>
    <tr>
        <td>Mileage</td>
        <td>Mileage</td>
    </tr>
    <tr>
        <td>Max Range</td>
        <td>Max Range</td>
    </tr>

{% endblock %}
