{% extends "layout.html" %}
{% block content %}
    <h1>Order Details</h1>
    <div>
        <p>Order ID: {{ po.id }}</p>
        <p>Ordered on: {{ po.date_created }}</p>
        <p>Status: {{ po.status }}</p>
        <p>Last updated: {{ po.latest_update }}</p>

        <div id="shipping_info">
            <h2>Shipping & Contact Information</h2>
            <p>{{ po.fname }} {{ po.lname }}</p>
            <p>{{ address.phone }}</p>
            <p>{{ address.street }}</p>
            <p>{{ address.city }}, {{ address.province }}</p>
            <p>{{ address.postal_code }}</p>
            <p>Canada</p>
        </div>

        <div id="payment_method">
            <h2>Payment Method</h2>
            <p>{{ po.cc_type }} ending in {{ po.cc_last_4_digits }}</p>
        </div>

        <div id="order_summary">
            <h2>Order Summary</h2>
            <table>
                <tbody>
                    <tr>
                        <td><b>Subtotal</b></td>
                        <td>${{ "{:,.2f}".format(po.subtotal|float) }}</td>
                    </tr>
                    <tr>
                        <td><b>Discount</b></td>
                        <td>${{ "{:,.2f}".format(po.discount|float) }}</td>
                    </tr>
                    <tr>
                        <td><b>Taxes</b></td>
                        <td>${{ "{:,.2f}".format(po.taxes|float) }}</td>
                    </tr>
                    <tr>
                        <td><b>Total Paid</b></td>
                        <td>${{ "{:,.2f}".format(po.total_paid|float) }}</td>
                    </tr>
                    <tr>
                        <td><b>Payment Method</b></td>
                        <td>{{ po.cc_type }} ending in {{ po.cc_last_4_digits }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <p>Your Order:</p>
        <div class="grid">
            {% for vehicle in po.vehicles %}
            {% include "catalogue/grid_item.html" %}
            {% endfor %}
        </div>
        <!--Fill this in with vehicle make brand trim, and price-->
        
    </div>
{% endblock content %}