{% extends "layout.html" %}

{% block content %}
<!-- TODO: Make this look nice. Probably a grid of cars? A big header image? -->
{% if recent_vehicles %}
<br />
<div class="horizontal">
<h1>Recently Added Vehicles</h1>
    <div>
        <a class="button see_all" href="{{ url_for('main.shop') }}?sort=date_added&descending=true" method="get">
            <p>See All</p>
        </a>
    </div>
</div>
<div class="grid homepage">
    {% for vehicle in recent_vehicles %}
        {% include "catalogue/grid_item.html" %}
    {% endfor %}
</div>
{% endif %}

{% if hot_deals %}
<br />
<div class="horizontal">
    <h1>Hot Deals</h1>
    <div>
        <a class="button see_all" href="{{ url_for('main.shop') }}?sort=hot_deals&descending=true" method="get">
            <p>See All</p>
        </a>
    </div>
</div>
<div class="grid homepage">
    {% for vehicle in hot_deals %}
        {% include "catalogue/grid_item.html" %}
    {% endfor %}
</div>
{% endif %}
{% endblock %}