{% extends "layout.html" %}

{% block content %}
{% if recent_vehicles %}
<br />
<div class="index-header">
<img src="{{ url_for('static', filename='yorklionsbanner.png') }}" alt="York Lions Logo" />    
</div>
<div class="horizontal">
    <h1>Recently-Added Vehicles</h1>
    <form action="{{ url_for('main.shop') }}" method="POST">
        <input type="hidden" name="sort" value="date_added" />
        <input type="hidden" name="descending" value="true" />
        <input type="submit" class="button see_all" value="See All" />
    </form>
</div>
<div class="grid homepage">
    {% for vehicle in recent_vehicles %}
        {% include "catalogue/grid_item.html" %}
    {% endfor %}
</div>
{% endif %}

{% if hot_deals %}
<br />
<div class="horizontal">
    <h1>Hot Deals</h1>
    <form action="{{ url_for('main.shop') }}" method="POST">
        <input type="hidden" name="sort" value="hot_deals"/>
        <input type="hidden" name="descending" value="true"/>
        <input type="submit" class="button see_all" value="See All"/>
    </form>
</div>
<div class="grid homepage">
    {% for vehicle in hot_deals %}
        {% include "catalogue/grid_item.html" %}
    {% endfor %}
</div>
{% endif %}
{% endblock %}