<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %} <!-- If title is passed in render_template use title -->
    <title>YORK L-IONS - {{ title }}</title>
    {% else %}
    <title>YORK L-IONS</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <div id="wrapper">

        <header>
            {% if header %}
            {% block header %}{% endblock header %}
            {% else %}
            <div class="logo">
                <a href="/">YORK L-IONS</a>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('main.shop') }}">Shop Now</a></li>
                    <li><a href="{{ url_for('main.new_cars') }}">New Cars</a></li>
                    <li><a href="{{ url_for('main.reviews') }}">Reviews</a></li>
                    <li><a href="{{ url_for('main.trade_in') }}">Sell Your Car</a></li>
                    <li><a href="{{ url_for('main.hot_deals') }}">Hot Deals</a></li>
                </ul>
            </nav>
            <ul>
                {% if current_user.is_authenticated %} <!-- Flask session management is just :chefs_kiss: -->
                <li><a href="{{ url_for('auth.account') }}">Account</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Sign Out</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Sign In</a></li>
                <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                {% endif %}
                {% if current_user.is_authenticated and current_user.is_admin %}
                <li><a href="{{ url_for('main.admin_dash') }}">Admin</a></li>
                {% endif %}
            </ul>
            {% endif %}
        </header>

        <div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="flash-message {{ category }}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% block content %}
            {% if sidebar %}
            <!-- Sidebar HTML logic here once they clicked on catalog, etc -->
            {% else %}
            {% endif %}
            {% endblock content %}
        </div>

        <footer>{% block footer %}{% endblock footer%}</footer>
    </div>
</body>

</html>