{% extends "layout.html" %}

{% block content %}
<!-- TODO: Make this look nice. Probably a grid of cars? A big header image? -->
<br/>
<h1>{{ title }}</h1>
<table>
    <thead>
        <tr>
            <th><div>Picture</div></th>
            <th><div>Price</div></th>
            <th><div>Discount</div></th>
            <th><div>Year Make Model Trim</div></th>
            <th><div>Kilometres</div></th>
        </tr>
    </thead>
    <tbody>
        {% for vehicle in vehicles %}
        <tr>
            <td><div><a href="/vehicle/{{ vehicle.id }}"><img src="{{ vehicle.image_file }}" alt="Vehicle Image" width="100"></div></td>
            <td><div>${{ '%0.2f'|format(vehicle.price|float) }}</div></td>
            <td><div>${{ '%0.2f'|format(vehicle.discount|float) }} ({{ '%0.0f'|format(vehicle.discount_percentage|float) }}%)</div></td>
            <td><div>{{ vehicle.year }} {{ vehicle.make }} {{vehicle.model}} {{vehicle.trim}} </div></td>
            <td><div>{{ vehicle.kilometres }} km</div></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}