{% extends "layout.html" %}
{% block content %}
<h1>Loan Calculator</h1>
  <form id="loanCalculator" action="{{ url_for('loancalc.loan_calculator') }}", method="post">
    <label for="vehiclePrice">Vehicle Price:</label>
    <input type="number" id="vehiclePrice" name="vehiclePrice" required>
    <br><br>
    <label for="downPayment">Down Payment:</label>
    <input type="number" id="downPayment" name="downPayment" required>
    <br><br>
    <label for="loanInterestRate">Loan Interest Rate (%):</label>
    <input type="number" id="loanInterestRate" name="loanInterestRate" step="0.01" required>
    <br><br>
    <label for="loanDuration">Loan Duration (in months):</label>
    <input type="number" id="loanDuration" name="loanDuration" required>
    <br><br>
    <input type="submit" value="Calculate">
  </form>

{% if monthly_payment %}
    <h2>Monthly Payment: ${{ monthly_payment }}</h2>
{% endif %}

{% endblock content %}