{% extends "layout.html" %}

{% block stylesheet %}
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/login.css') }}">
{% endblock stylesheet %}

{% block content %}
<div class="centred_content_wrapper">
    <h1>Login</h1>
    <div class="floating_box">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div>
                <div class="form_grid">
                    {{ form.email.label() }}
                    {{ form.email() }}
                </div>
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div>
                <div class="form_grid">
                    {{ form.password.label() }}
                    {{ form.password() }}
                </div>
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="wide">
                <div class="centred">
                    {{ form.remember(id="remember_me_checkbox") }}
                    {{ form.remember.label(id="remember_me_label") }}
                </div>
                {{ form.submit(class="button") }}
            </div>
        </form>
        <div class="wide">
            <p class="centred"><a href="TODO">Forgot Password?</a></p>
            <p class="centred">No account? <a href="{{ url_for('auth.register') }}">Register now!</a></p>
        </div>
    </div>
</div>
{% endblock content %}