{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form action="" method="post">
        {{ form.hidden_tag() }} <!-- Accessing the form we passed in -->
        <fieldset>
            <legend>Register</legend>
            <div>
                {{ form.username.label() }}
                {{ form.username() }}
            </div>
            <div>
                {{ form.email.label() }}
                {{ form.email() }}
            </div>
            <div>
                {{ form.password.label() }}
                {{ form.password() }}
            </div>
            <div>
                {{ form.confirm_password.label() }}
                {{ form.confirm_password() }}
            </div 
        </fieldset>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</div>
<div>Already signed up? <a href="{{ url_for('auth.login') }}">Login</a></div>
{% endblock content %}