<div class="star_container">
    {% for i in range(5) %}
        {% if i <= num_stars - 1 %}
            <div class="stars orange">★</div>
        {% elif num_stars-1 > i - 1 %}
            <div class="stars orange" style="width: {{ "{0:.2f}".format(20 * (num_stars - i)) }}%;">★</div>
        {% endif %}
    {% endfor %}
    <div class="empty_star_container">
        {% for i in range(5) %}
            <div class="stars grey">★</div>
        {% endfor %}
    </div>
    <p class="despacer">.</p>
</div>
