{% extends "admin_layout.html" %}
{% block content %}
<form action="{{ url_for('vehicle.create') }}" method="post">
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" /><br/>
    <label for="year">Year:</label>
    <input type="number" id="year" name="year" /><br/>
    <label for="make">Make:</label>
    <input type="text" id="make" name="make" /><br />
    <label for="model">Model:</label>
    <input type="text" id="model" name="model" /><br />
    <label for="trim">Trim:</label>
    <input type="text" id="trim" name="trim" /><br />
    <label for="colour">Colour:</label>
    <input type="text" id="colour" name="colour" /><br />
    <label for="type">Type:</label>
    <input type="text" id="type" name="type" /><br />
    <label for="kilometres">Kilometres:</label>
    <input type="number" id="kilometres" name="kilometres" /><br />
    <label for="max_range">Max Range:</label>
    <input type="number" id="max_range" name="max_range" /><br />
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" /><br />
    <input type="submit" value="Create Vehicle" />
</form>
{% endblock content %}