{% extends "admin_layout.html" %}
{% block content %}
<form action="{{ url_for('trade_in.create') }}" method="post">
    <label for="user_id">User ID:</label>
    <input type="number" id="user_id" name="user_id"/><br/>
    <label for="year">Year:</label>
    <input type="number" id="year" name="year" /><br />
    <label for="make">Make:</label>
    <input type="text" id="make" name="make" /><br />
    <label for="model">Model:</label>
    <input type="text" id="model" name="model" /><br />
    <label for="trim">Trim:</label>
    <input type="text" id="trim" name="trim" /><br />
    <label for="colour">Colour:</label>
    <select id="colour" name="colour">
        <option value="black">Black</option>
        <option value="white">White</option>
        <option value="grey">Grey</option>
        <option value="red">Red</option>
        <option value="orange">Orange</option>
        <option value="yellow">Yellow</option>
        <option value="green">Green</option>
        <option value="blue">Blue</option>
        <option value="purple">Purple</option>
        <option value="pink">Pink</option>
        <option value="beige">Beige</option>
        <option value="brown">Beige</option>
    </select><br />
    <label for="type">Vehicle Type:</label>
    <select id="type" name="type">
        <option value="sedan">Sedan</option>
        <option value="coupe">Coupe</option>
        <option value="sports_car">Sports Car</option>
        <option value="station_wagon">Station Wagon</option>
        <option value="coupe">Hatchback</option>
        <option value="coupe">Convertible</option>
        <option value="coupe">Pickup Truck</option>
        <option value="coupe">Minivan</option>
        <option value="coupe">SUV</option>
    </select><br />
    <label for="kilometres">Kilometres:</label>
    <input type="number" id="kilometres" name="kilometres" /><br />
    <label for="max_range">Max Range:</label>
    <input type="number" id="max_range" name="max_range" /><br />
    <label for="status">Status:</label>
    <input type="text" id="status" name="status"/><br/>
    <label for="quote">Quote:</label>
    <input type="number" id="quote" name="quote"/><br/>
    <label for="accidents">Accidents/Repairs:</label>
    <textarea id="accidents" name="accidents"></textarea><br/>
    <label for="details">Additional Details:</label>
    <textarea id="details" name="details"></textarea><br />
    <input type="submit" value="Create Vehicle"/>
</form>
{% endblock content %}