* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

header {
  display: grid;
  grid-template-columns: 0.33fr 1fr 0.33fr;
  border-radius: 25px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin: 20px;
  align-items: center;
}

h1 {
  margin: 0px 10px 0px 20px;
  text-align: center;
}

nav {
  padding: 8px;
  margin: 4px;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

table, th, td {
  border: 1px solid black;
}

.flash-message.success {
  color: white;
  background-color: green;
  padding: 10px;
  margin-bottom: 10px;
}

.flash-message.danger {
  color: white;
  background-color: red;
  padding: 10px;
  margin-bottom: 10px;
}

.flash-message.info {
  color: white;
  background-color: blue;
  padding: 10px;
  margin-bottom: 10px;
}

#original_price {
  text-decoration: line-through;
}

#discounted_price {
  color: red;
  font-weight: bold;
}

.grid_item {
  border-radius: 25px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  width: 265px;
  height: 330px;
  overflow: hidden;
  text-decoration: none;
  margin: 20px;

  > img {
      width: 265px;
    }

  > h1, h2, h3, h4, h5, h6, p {
      margin: 0px 0px 10px 10px;
    }

  > h4 {
      text-overflow: ellipsis;
      word-wrap: break-word;
      overflow:hidden;
      white-space: nowrap;
    }
}

.grid_item:hover {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.75);
  color: black;
  scale: 105%;
}

.grid {
  grid-column: 2;
  margin: 0px 20px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 265px);
  grid-column-gap: 20px;
}

.grid.homepage {
  grid-template-columns: repeat(10, 265px);
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0px;
  justify-content: left;
}

.horizontal {
  display: flex;
  position: relative;
}

.button {
  padding: 4px 8px;
  background-color: red;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  border: none;
  outline: 2px solid red;
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: red;
}

.button.see_all {
  font-size: small;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

p.used_label {
  background-color: grey;
  color: white;
  padding: 2px 8px;
  margin: 0px;
  max-width: fit-content;
  font-size: x-small;
}

p.new_label {
  background-color: green;
  color: white;
  padding: 2px 8px;
  margin: 0px;
  max-width: fit-content;
  font-size: x-small;
}

#listing_container {
  display: grid;
  grid-template-columns: 225px auto;
}

#no_vehicles_message {
  grid-column: 2;
  margin-top: 20%;
  width: 100%;
}

.sidebar {
  /* border: 1px solid black; */
  grid-column: 1;
  display: block;
  margin: 20px -10px 0px 20px;
  padding: 15px;
  border-radius: 25px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  width: 225px;
  height: fit-content;

  > h2 {
    margin-bottom: 15px;
    text-align: center;
  }
  
  > #filters {
    > label {
        margin-top: 10px;
      }
    > h4 {
        margin-top: 5px;
      }
    > select {
        display: block;
      }
    > input, select {
        padding: 5px;
        margin-bottom: 5px;
        width: 100%;
      }
    > #apply_button {
        margin-top: 20px;
        padding: 10px;
        width: 100%;
      }
    > #year, #price {
        display: grid;
        > label {
            padding: 5px;
            margin: 0px 10px 5px 10px;
            width: 33%;
            grid-column: 1;
          }
        > input {
            margin-right: 20px;
            width: 100%;
            grid-column: 2;
          }
      }
  }
}


