* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: red;
}

header {
  display: grid;
  grid-template-columns: 0.33fr 1fr 0.33fr;
  border: 1px solid black;
  padding: 8px;
  margin: 4px;
  align-items: center;
}

nav {
  padding: 8px;
  margin: 4px;
}

div {
  padding: 4px;
  margin: 4px;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 12px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

 table, th, td {
   border: 1px solid black;
 }

.flash-message.success {
  color: white;
  background-color: green;
  padding: 10px;
  margin-bottom: 10px;
}

.flash-message.danger {
  color: white;
  background-color: red;
  padding: 10px;
  margin-bottom: 10px;
}

.flash-message.info {
  color: white;
  background-color: blue;
  padding: 10px;
  margin-bottom: 10px;
}

#original_price {
  text-decoration: line-through;
}

#discounted_price {
  color: red;
  font-weight: bold;
}